* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* =================navbar========================= */

.navbar{
    display: flex;
    padding: 30px 37px 30px 50px;
    justify-content: space-between;
    background-color: #F9F9F9;
    align-items: center;
    position: relative;
    height: 70px;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.trigger{
    font-size: 20px;
    display: none;
}

.menu .list{
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu .list ul {
    display: flex;
    gap: 15px;
    list-style: none;
    font-size: 16px;
    align-items: center;
}

.list ul > li > a {
    text-decoration: none;
    color: black;
}

.list ul > li > a:hover{
    color: #FF4522;
}

/* ==========responsive navbar====================== */

@media (max-width:600px) {

    .navbar{
        background-color: white;
        border-bottom: 1px solid rgb(216, 216, 216);
    }

    .menu .list ul{
        position: absolute;
        top: 80px;
        left: 0px;
        right: 0;
        padding-left: 50px;
        flex-direction: column;
        background-color: white;
        overflow: hidden;
        align-items: start;
    }

    .trigger{
        display: block;
    }

    #menu-list{
        transition: all 0.4s;
    }
}


/* =======================home====================================== */

.home {
    background-color: #F9F9F9;    
}

.home-container{
    display: flex;
    justify-content: center;
    padding: 100px 40px;
    margin: 0 270px;
    align-items: center;
    /* position: relative; */
}

.home-container .text-content{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    /* position: relative; */
}

.home-container .text-content h6{
    color: #FF4522;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.home-container .text-content .position{
    font-size: 45px;
    margin-bottom: 25px;
    font-weight: bolder;
}

.home-container .text-content div{
    display: flex;
}

.service1 {
    display: flex;
    font-family: "Mulish", sans-serif;
    font-size: 17px;
    align-items: center;
    gap: 10px;
}

.service1 p {
    padding: 8px 0;
}

.counts {
    margin-top: 25px;
    gap: 50px;
}

.counts div{
    display: flex;
    align-items: center;
}

.counts div > h1 {
    font-size: 45px;
    font-weight: 600;
}

.counts div > p {
    padding-left: 15px;
    font-size: 14px;
    font-family: "Mulish", sans-serif;
    color: #767676;
}

.img-container div{
    width: 50%;
    padding-left: 200px;
}

.img-container div > img {
    width: 350px;
    border-radius: 10px;
}

/* ==============responsive home============================ */

@media (max-width:1469px) {
    .home-container .text-content .position{
        font-size: 35px;
        margin-bottom: 20px;
    }

    .home-container .text-content h6{
        margin-bottom: 10px;
    }  
    
    .service1 p {
        padding: 6px 0;
    }

    .img-container div > img {
        width: 300px;
    }
}

@media (max-width:925px) {
    .home-container{
        flex-direction: column-reverse;
        padding: 50px 30px;
        margin: 0;
    }

    .img-container div{
        width: 100%;
        padding-left: 0px;
        padding-bottom: 50px;
    }

    .img-container div > img {
        width: 100%;
        border-radius: 10px;
    }
}

@media (max-width:449px){
    .home-container .text-content .position{
        font-size: 30px;
    }

    .counts {
        flex-direction: column;
        margin-top: 15px;
        gap: 0px;
    }

    .home-container{
        padding: 50px 30px;
    }
}

/* =================portfolio============================================= */

.portfolio {
    /* display: flex;
    justify-content: center; */
}

.port-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 40px;
    margin: 0 270px;
    align-items: center;
}

.port-container .text-content{
    width: 1005px;
}

.port-container .text-content h6{
    font-size: 16px;
    color: #FF4522;
    font-weight: 500;
    margin-bottom: 10px;
}

.port-container .text-content h1 {
    font-size: 30px;
    font-weight: bolder;
}

.port-container .project-container{
    padding-top: 92px;
    display: flex;
    gap: 30px;
}

.port-container .project-container div {
    width: 50%;
}

.port-container .project-container div > img {
    width: 325px;
    border-radius: 10px;
}
/* ======responsive portfolio=================== */

@media (max-width:1469px) {
    .port-container .text-content{
        width: 910px;
    }

    .port-container .project-container div > img {
        width: 290px;
    }
}

@media (max-width:925px) {
    .port-container .text-content{
        width: 93vw;
    }

    .port-container .project-container .port3 {
        display: none;
    }

    .port-container .project-container div > img {
        width: 45vw;
    }
}

@media (max-width:620px) {
    .port-container {
        padding: 100px 0px;
        margin: 0 0px;
    }

    .port-container .text-content{
        width: 90vw;
    }

    .port-container .project-container .port2 {
        display: none;
    }

    .port-container .project-container div > img {
        width: 90vw;
    }
}

/* ======================skills================================== */

.Skills{
    padding: 100px 0px;
}

.skills-container {
    background: url(./assets/skillsbg.png);
    width: 100vw;
    height: 80vh;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 17%;
    padding-right: 17%;
    gap: 60px;
}

.skills-container .text-content {
    display: flex;
    flex-direction: column;
}
.skills-container .text-content h6 {
    font-size: 16px;
    font-weight: 500;
    color: #FF4522;
    margin-bottom: 10px;
}

.skills-container .text-content h1 {
    font-size: 30px;
    color: white;
}
.skills-container .text-content p {
    margin-top: 20px;
    font-size: 16px;
    font-family: "Mulish", sans-serif;
    color: #bbbb;
    line-height: 2;
}

.skills-container .dark-image img {
    /* width: 100%; */
    width: 434px;
    height: 638px;
    object-fit: contain;

}

.skills-container .skills-logo {
    margin-top: 40px;
    /* margin-right: 75px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 40px;
}

.skills-container .skills-logo img {
    width: 10%;
}

/* ==========responsive skills============================ */

@media (max-width:1238px) {
    .skills-container .dark-image {
       display: none;
    }

    .skills-container .skills-logo img {
        width: 60px;
    }
}

@media (max-width:700px) {
    .skills-container .skills-logo img {
        width: 45px;
    }
}

@media (max-width:583px) {
    .skills-container {
        padding-top: 60px;
    }
}

@media (max-width:511px) {
    .skills-container {
        padding-top: 40px;
    }

    .skills-container .skills-logo img {
        width: 40px;
    }
}

@media (max-width:424px) {
    .skills-container {
        padding-top: 40px;
    }

    .skills-container .skills-logo img {
        width: 40px;
    }

    .skills-container .skills-logo {
        gap: 30px;
    }
    
}

@media (max-width:424px) {
    .skills-container {
        padding-top: 40px;
    }

    .skills-container .skills-logo img {
        width: 35px;
    }

    .skills-container .skills-logo {
        gap: 30px;
    }
    
}

/* =============timeline========================================== */

.timeline {
    padding: 100px 0px;
    /* margin: 0 270px; */
    display: flex;
    justify-content: center;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time-head {
    width: 1070px;
}